<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Formulario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<link rel="stylesheet" href="estilo.css">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
    </head>
   
    <body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      
      <a class="navbar-brand" >


      

      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        
       
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
      </ul>
    </div>
  </div>
</nav>

 <div class="jumbotron">
      <div class="container-fluid">
      <div class="text-right">
        <h1>Bienvenidos</h1>
        
        <p></p>
      </div>
    </div>
    </div>



<div class="container">
<div class="row">
    <div class="cold-md-12 ">
    <div>
    
</div>
    
</div>
</div>
    

</div>
  



  
<div class="container-fluid ">
  <div class="row content">


   


<section>

    <div class="col-sm-3 sidenav" >


       <ul class="nav nav-sidebar">
        <img src="wed/logo.jpeg" width="200"  height="200"/>
    <br/>
          <br>

            <li class="active"><h2>Categorias </h2><span class="sr-only">(current)</span></li>
            <br>
           <br>
          <br>
           <br>
          <br>
            <li><a href="audifonos.html#">Audifonos</a></span></li>
            <br>
            <li><a href="case.html#">Case</a></span></li>
            <br>
            <li><a href="bolsasacuaticas.html#">Bolsas Acuaticas</a></span></li>
             <br>
            <li><a href="rightlightselfie.html#">Right Light Selfie</a></span></li>
            <br>
          </ul>
    </div>

</section>


    <div class="col-sm-9 text-left " >

 <br>
           <br>
          <br>
           <br>
          <br>
          <br>
          <br>
           <br>
         
          

<div class="text-center">

          <span class="glyphicon glyphicon-arrow-left"></span> 
        

<h2>Seleccione una opcion de menu para Comenzar</h2>


</div>
   




</div>
    
  </div>
</div>

<footer class="container-fluid text-center">
  <p></p>
</footer>

    </body>
</html>
